*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #BF9553;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #f8f8f8;
}
img{
    cursor: pointer;
}
@font-face{
    font-family: Californian FB;
    src: url(./fonts/CALIFB.TTF);
}



nav{
    width: 100%;
    height: 5rem;
    background-color: #fff;
    position: fixed;
    top: 0; 
    z-index: 1000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
nav .logo{
    width: 100%;
    display: inline;
    margin-left: 5rem;
}
nav .logo img{
    margin-top: 0.2rem;
    width: 55px;
}
nav svg{
    display: none;
}
nav #close{
    display: none;
}
nav ul{
    float: right;
    position: relative;
    margin-top: 1.5rem;
    margin-right: 5rem;
}
nav ul .logo2{
    display: none;
}
nav ul .border{
    display: none;
}
nav li{
    display: inline;
    margin-left: 2rem;
}
nav ul li a{
    color: #66369D;
    text-decoration: none;
}
nav ul li a:hover{
    color: #BF9553;
}
nav ul li a.active{
    color: #BF9553;
    text-decoration: underline;
}
nav ul li a.dropdown-toggle{
    background-color: transparent; 
    color: #66369D; 
    border: none;
    margin-top: -0.2rem;
}
nav ul li a.dropdown-toggle:hover{
    text-decoration: underline;
    color: #BF9553;
    background-color: transparent;
    border: none;
}
nav ul li a.dropdown-toggle:focus{
    text-decoration: underline;
    color: #BF9553;
    background-color: transparent;
}
nav ul li #dropdownMenuLink.active{
    background-color: transparent;
    color: #BF9553;
    border: none;
}
nav ul li .btn:active{
    border: none;
}
nav ul li a.dropdown-item{
    margin-top: -1rem;
    color: #66369D;
    text-align: center;
}
nav ul li a.dropdown-item:hover{
    background-color: #BF9553;
    color: #fff;
}
nav i:hover{
    color: #BF9553;
}
.book{
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    background-color: #BF9553;
    font-size: 1rem;
    text-decoration: none;
}
.book:hover{
    background-color: #7c5b26d3;
    color: #fff;
}
.book.active{
    color: #fff;
}

.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    color: #66369D;
    background-color: transparent;
    border-color: #fff;
}
.affiliate-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.affiliate-form input, select{
    padding: 10px;
    border: 1px solid gray;
    outline: none;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.affiliate-submit{
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    background-color: #BF9553;
    border: none;
    outline: none;
}



/* HERO DESKTOP */
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./images/hero2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.hero .text{
    text-align: center;
}
.hero .text h2{
    color: #BF9553;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.hero .text h1{
    color: #fff;
    font-weight: 400;
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
    font-family: Californian FB;
}
.hero .text .prov{
    width: 70%;
    margin: auto;
    color: #BF9553;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}



/* HOT DEALS DESKTOP */
.hot-deals{
    width: 100%;
    height: auto;
}
header{
    text-align: center;
    margin-top: 3rem;
}
header h1{
    font-family: Californian FB;
    color: #66369D;
}
header img{
    margin-top: -2rem;
}
.hot-deals article{
    display: flex;
    width: 90%;
    margin: auto;
}
article .box{
    margin: 1.2rem;
}
article .box h3{
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 1rem;
}
article .box img{
    margin-bottom: 0.5rem;
}
article .box p{
    margin-bottom: 1rem;
    font-size: 1.1rem;
}




/* CAROUSEL DESKTOP */
/* .carousel{
    margin-top: 3rem;
    width: 30%;

}
.carousel img{
    width: 20%;
} */

.advert-banner{
    margin-top: 5rem;
}


/* RECOMMENDED DESKTOP */
.recommended{
    margin: 5rem 0 4rem 0;
}
.recommended article{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
}
.recommended article .box{
    margin-bottom: 3rem;
}
.recommended .more{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 5rem;
}



/* TESTIMONIAL DESKTOP */
.testimonial{
    width: 100%;
    height: 16rem;
    background-color: #65359c33;
}
.testimonial header h1{
    padding-top: 2rem;
}
.testimonial header h3{
    font-size: 1.3rem;
    font-weight: 600;
}
.testimonial article{
    display: flex;
    width: 90%;
    margin: auto;
}
.testimonial article .box{
    height: 13rem;
    background-color: #FFFFFF;
    border: 0.5px solid #BF9553;
    box-shadow: 0px 4px 4px rgba(102, 54, 157, 0.25);
    border-radius: 10px;
}
.testimonial article .box aside{
    display: flex;
    margin-top: 1rem;
}
.testimonial article .box aside .picture{
    width: 20%;
    border-radius: 50%;
    margin-left: 1rem;
}
.testimonial article .box aside h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: #66369D;
    margin: 1.5rem 0 0 0.5rem;
}
.testimonial article .box aside .quotes{
    width: 30px;
    height: 30px;
    margin: 0.5rem 0 0 3rem;
}

.testimonial article .box p{
    margin: 1rem 0 1rem 1rem ;
    font-size: 1.2rem;
}



/* NEWSLETTER DESKTOP */
.newsletter{
    margin: 13rem 0 5rem 0;
}
.newsletter header h3{
    font-size: 1.25rem;
    font-weight: 400;
}
.newsletter form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.newsletter form input.email{
    padding: 20px;
    width: 35%;
    background: #FFFFFF;
    border: 1px solid #BF9553;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    color: #66369D;
}
.newsletter form input.submit{
    font-size: 1.2rem;
    padding: 16px;
    width: 15%;
    border-radius: 0 5px 5px 0;
    color: #fff;
    background-color: #BF9553;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}
.newsletter form input.submit:hover{
    background-color: #7c5b26d3;
}




/* FOOTER DESKTOP */
footer{
    width: 100%;
    background-color: #66369D;
    color: #fff;
}
footer .body{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #BF9553;
}
footer article{
    width: 55%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
}
footer article .box{
    width: 50%;
}
footer .logo{
    width: 100%;
}
footer .logo img{
    width: 70px;
}
footer article p{
    font-size: 1.125rem;
}
footer article .two h3, .three h3, .four h3{
    margin-top: 1.5rem;
    font-size: 1.7rem;
    font-family: Californian FB;
    font-weight: 400;
}
footer a{
    width: fit-content;
    display: block;
    font-size: 1.125rem;
    line-height: 2;
    color: #fff;
}
footer a:hover{
    color: #BF9553;
}
footer i{
    font-size: 1.3rem;
    margin-right: 1rem;
    color: #BF9553;
    margin-top: 0.3rem;
}
footer article .one i{
    font-size: 1.5rem;
}
footer i:hover{
    color: #fff;
}
footer .socials{
    display: flex;
}
footer .location{
    display: flex;
    margin-top: 0.5rem;
}
footer aside{
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 2rem;
}
footer aside .box{
    width: 50%;
    margin: 1.2rem;
}
footer aside a{
    text-decoration: none;
}
footer .credits{
    padding: 20px;
    text-align: center;
}
footer .credits p{
    font-size: 1.2rem;
}


/* ABOUT DESKTOP */
.about-us{
    margin-top: 10rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
}
.about-us .left{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 3rem;
}
.about-us .left img{
    width: 90%;
    border-radius: 10px;
}
.about-us .right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}
.about-us .right .text{
    width: 85%;
    text-align: center;
}
.about-us .right .text h1{
    font-family: Californian FB;
    color: #66369D;
}
.about-us .right .text img{
    margin-top: -2rem;
}
.about-us .right .text p{
    font-size: 1.25rem;
    line-height: 1.7rem;
    margin-top: -0.5rem;
}



/* MISSION DESKTOP */
.mission{
    width: 100%;
    height: 20rem;
    background: rgba(102, 54, 157, 0.1);
    display: flex;
}
.mission .left{
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mission .right{
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mission .text{
    width: 85%;
    text-align: center;
}
.mission .text h1{
    font-family: Californian FB;
    color: #66369D;
}
.mission .text img{
    margin-top: -2rem;
}
.mission .text p{
    font-size: 1.25rem;
    line-height: 1.7rem;
    margin-top: -0.5rem;
}



/* OUR TEAM DESKTOP */
.our-team{
    margin-top: 7rem;
}




/* CONTACT DESKTOP */
.contact{
    height: 25rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    background: none;
}
.background{
    width: 100%;
    display: flex;
    background: rgba(102, 54, 157, 0.1);

}
.contact .box{
    width: 23%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.contact .box header{
    margin-top: 2rem;
}
.contact a{
    display: block;
    width: fit-content;
    font-size: 1.125rem;
    line-height: 2;
    color: black;
    text-decoration: none;
}
.contact a:hover{
    color: #66369D;
}
.contact i{
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #BF9553;
    margin-top: 0.5rem;
}
.contact p{
    font-size: 1.25rem;
}


/* PARTNER */
.partner{
    width: 50%;
    margin: auto;
    height: 10rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partner a{
    padding: 15px 70px;
}





/* BOOK NOW DESKTOP */
.book-now{
    width: 100%;
    height: 50vh;
    background-image: url(./images/bookimg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
.book-now input{
    width: 50%;
    padding: 10px;
    border: 2px solid #BF9553;
    border-radius: 10px;
    font-size: 1rem;
    background-image: url(./images/search.png);
    background-position: 10px 13px; 
    background-repeat: no-repeat;
    padding-left: 35px;
    outline: none;
    color: #66369D;
    margin-top: 10rem;
}
.book-now input::placeholder{
    color: rgba(189, 147, 236, 0.8);
}
.book-now a{
    padding: 8px 35px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    background-color: #BF9553;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 2rem;
    margin-left: -65rem;
}
.book-now a:hover{
    background-color: #7c5b26d3;
    color: #fff;
}
.hotels{
    margin: 0rem;
}
.hotels .box{
    display: flex;
    align-items: center;
    padding: 5rem 0;
    border-bottom: 1px solid #BF9553;
}
.hotels .box #hotel{
    margin-left: 6rem;
    margin-right: 3rem;
}
.hotels .box .content{
    width: 45%;
}
.hotels .box .content h4{
    color: #66369D;
}
.hotels .box .content img{
    margin-top: -1.5rem;
}



/* LOCATION DESKTOP */
.location{
    margin: 0 0 2rem 0;
}
.location .box{
    width: 100%;
    margin: auto;
    padding: 1.5rem 0;
    border-bottom: 1px solid #BF9553;
}
.location .box a{
    margin: 0 0 0 10rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.location .box i{
    color: #BF9553;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.location .box a:hover{
    color: #BF9553;
}



/* DESCRIPTION DESKTOP */
.desc{
    margin-top: 3rem;
    margin-bottom: -5rem;
}
.desc .box{
    border-bottom: none;
    align-items: left;
}
.desc .box .images{
    width: 54%;
}
.desc .box .sub-images{
    margin-top: 0.5rem;
    margin-left: 6rem;
}
.desc .box .sub-images img{
    margin-left: 0.1rem;
}
.desc .box .content{
    width: 40%;
}
.desc .box .content h4{
    font-size: 1.5625rem;
}
.desc .box .content aside{
    font-size: 0.9rem;
}
.desc .box .content aside{
    font-size: 0.9rem;
}
.desc .box .content #desc{
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.desc .box .content img{
    margin-bottom: 4rem;
}
.desc .box .content a{
    margin-left: -6rem;
}



/* ROOMS DESKTOP */
.rooms{
    margin-bottom: 5rem;
}
.rooms .content{
    width: fit-content;
    margin: auto;
    text-align: center;
}
.rooms .box h3{
    color: #66369D;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.rooms .box ul li{
    text-align: left;
    font-size: 0.8rem;
}
.rooms .box p{ 
    margin-bottom: 1rem;
}
#rooms{
    padding-top: 6rem;
}


/* CREATE ACCOUNT DESKTOP */
.create-account{
    margin-top: 5rem;
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(./images/Group\ 20.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-account .box{
    background-color: #fff;
    width: 35%;
    height: auto;
    padding: 1rem 2rem;
    border-radius: 10px;
}
.create-account .two{
    display: none;
}
.create-account .box .header{
    display: flex;
}
.create-account .box .header i{
    color: #BF9553;
    margin-top: 0.5rem;
    font-size: 20px;
    margin-right: 2rem;
}
.create-account .box h1{
    color: #66369D;
    font-size: 2rem;
}
.create-account .box form{
    display: flex;
    flex-flow: column wrap;
}
.create-account .box form label{
    font-size: 0.9rem;
}
.create-account .box form input{
    margin-bottom: 1rem;
    border: 1px solid #66369D;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 1rem;
    outline: none;
    color: #66369D;
    width: 98%;
}
.create-account .box form .password{
    width: 100%;
    position: relative;
}
.create-account .box form .password input{
    width: 98%;
}
.create-account .box form i{
    color: #BF9553;
    position: absolute;
    top: 0.8rem;
    right: 1rem;
}
.create-account .box form input.buttonX, #submit{
    margin-top: 1rem;
    background-color: #BF9553;
    color: #fff;
    border: none;
}
.create-account .box form input.buttonX:hover, input#submit:hover{
    background-color: #7c5b26d3;
}
.create-account .box form input#file{
    border: none;
    margin-left: -1rem;
}
.create-account .box form p{
    text-align: center;
    font-size: 0.8rem;
}
.create-account .box form a{
    color: #66369D;
}
.create-account .box form a:hover{
    color: #BF9553;
}


/* LOG IN DESKTOP */
.log-in{
    height: 95vh;
}
#eye, #eye-slash{
    color: #BF9553;
    position: absolute;
    top: 0.8rem;
    right: 1rem;
}
#eye-slash{
    display: none;
}
#eye-slash2{
    display: none;
}




/* PAYMENT DESKTOP */
.payment{
    margin-top: 3rem;
    height: auto;
}
.payment h1{
    font-size: 2rem;
}
.payment .left{
    width: 50%;
    border-right: 1px solid #BF9553;
    background-color: #fff;
    margin: 0;
    align-items: unset;
    padding-top: 2rem;
}
.payment .card-options{
    margin-top: rem;
}
.payment .card-options img{
    width: 70px;
    margin: 1rem;
}

.payment .right{
    width: 50%;
    margin: 0;
    align-items: unset;
    background: #66369d1a;
    margin-top: -1rem;
}
.payment #details{
    width: 70%;
    margin-top: 1rem;
}
.payment .right h5{
    font-size: 1.25rem;
    font-weight: 600;    
    margin: 1rem 0;
}
.payment .summary{
    width: 70%;
    margin: auto;
    margin-bottom: 3rem;
}
.payment form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    text-align: left;
}
.payment form label{
    font-size: 0.9rem;
}
.payment form input{
    margin-bottom: 1rem;
    border: 1px solid #66369D;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 1rem;
    outline: none;
    color: #66369D;
}
form .group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
form .group1, form .group2{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}
form .group2{
    display: flex;
    align-items: flex-end;
}
form .group input{
    width: 90%;
}
.form-submit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.form-submit input{
    width: 45%;
}
.form-submit .cancel{
    background-color: red;
    border: none;
    color: #fff;
}
.form-submit .cancel:hover{
    background-color: rgb(139, 36, 36);
}
.form-submit .pay{
    background-color: #BF9553;
    border: none;
    color: #fff;
}
.form-submit .pay:hover{
    background-color: #7c5b26d3;
}


/* HOTEL DASHBOARD DESKTOP */
ul i{
    color: #BF9553;
    font-size: 2rem;
    margin-right: 0.5rem;
    position: relative;
}
.hotel-dashboard{
    width: 100%;
    margin: 7rem 0 5rem 0;
}
.hotel-dashboard article{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}
.hotel-dashboard article .book{
    padding: 20px 50px;
}
.hotel-dashboard table{
    width: 80%;
    margin: auto;
    background-color: #66369d1c;
    border-radius: 10px;
    border-collapse: collapse;
}
.hotel-dashboard th{
    color: #66369D;
    border: 1px solid #BF9553;
    padding: 20px;
    font-size: 1.25rem;
}
.hotel-dashboard td{
    border: 1px solid #BF9553;
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
}


/* CUSTOMERS DESKTOP */
.hotel-dashboard header{
    margin-bottom: 1rem;
}


/* ACTIVATE DESKTOP */
.activate .box{
    width: 100%;
}
.activate .box .images{
    width: 50%;
}
.activate .images img{
    width: 70%;
}
.activate .box .content{
    width: 30%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
}
.activate .box .content h4{
    font-size: 2.5rem;
    text-align: center;
}
.activate .box .content ul{
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.activate .box .content img{
    width: 150px;
    margin-left: 8rem;
 }
 .activate .box .content p{
    margin-top: -3rem;
    text-align: center;
    font-size: 1.2rem;
 }
 .activate .box .content .book{
    margin-top: 4rem;
    margin: auto;
    padding: 10px 200px;
 }
.activate-rooms{
    margin-top: 2rem;
}


/* ADD ROOMS MODAL DESKTOP*/
.modal-lg{
    width: 50%;  
}
.modal-lg .label-file{
    border: 1px solid #66369D;
    border-top: none;
    border-bottom: none;
    padding: 20px;
    background: rgba(191, 149, 83, 0.11);
    border-radius: 5px;
    cursor: pointer;
}
.modal-lg .label-file input{
    display: none;
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.main .label-file{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.others{
    width: 100%;
    display: flex;
    justify-content: center;
}
.others .label-file{
    margin: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.label-file .file-name{
    color: #66369D;
    font-style: italic;
    position: absolute;
}
.modal-form section{
    display: flex;
    width: 100%;
}
.modal-form section .input-fields{
    width: 40%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
}
.modal-form section .input-fields2{
    width: 40%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
}
.modal-form section label{
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.modal-form section input{
    color: #66369D;
    border: 1px solid #66369D;
    outline: none;
    padding: 8px 10px;
    border-radius: 10px;
}
.modal-footer input{
    background-color: #BF9553;
}
.modal-footer input:hover{
    background-color: #7c5b26d3;
}



/* CUSTOMER INVOICE DESKTOP */
.customer-invoice{
    width: 100%;
    margin-top: 6rem;
}
.customer-invoice article{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.customer-invoice article .one{
    background-color: #66369e1c;
    padding: 40px 100px 40px 40px;
    border-radius: 10px;
}
.customer-invoice article .one h1{
    font-size: 1.875rem;
    font-weight: 600;
    color: #66369D;
}
.customer-invoice article .one i{
    color: #BF9553;
    margin-right: 0.5rem;
}
.customer-invoice article .one a{
    color: #212529;
    text-decoration: none;
    line-height: 1.3;
}
.customer-invoice article .one a:hover{
    color: #BF9553;
    text-decoration: underline;
}
.customer-invoice article .two p{
    color: #66369D;
    font-weight: 700;
    text-decoration: underline #BF9553;
    font-size: 1.25rem;
}
.customer-invoice article .two span{
    color: #212529;
}
.customer-invoice aside{
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.customer-invoice aside p{
    color: #66369D;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
}
.customer-invoice aside span{
    color: #212529;
}
.customer-invoice aside .amount-status{
    background-color: #65359c33;
    padding: 10px 100px;
    border-radius: 10px;
    margin: 1.5rem 0 5rem 0;
}


/* HOTEL INVOICE DESKTOP */
.customer-invoice section{
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
    background-color: #65359c33;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    border-radius: 5px;
}
.customer-invoice section p{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.customer-invoice section .details a{
    padding: 10px 150px;
}
.customer-invoice section .details-text{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.customer-invoice .mobile{
    display: none;
}


/* USER DASHBOARD DESKTOP */
.user-dashboard{
    display: flex;
}
.user-dashboard article{
    flex-flow: column wrap;
    align-items: center;
    width: 40%;
}
.user-dashboard article .profile p{
    width: fit-content;
    font-size: 8rem;
    background-color: #c0965433;
    font-weight: 500;
    color: #66369D;
    padding: 0 50px;
    border-radius: 50%;
}
.user-dashboard article .details-text{
    margin-bottom: 2rem;
}
.user-dashboard article .details i{
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #BF9553;
}
.user-dashboard article .details-text p{
    font-weight: 600;
    font-size: 1.1rem;
}
.user-dashboard article .details a{
    padding: 8px 60px;
}
.user-dashboard aside{
    width: 60%;
    margin-right: 5rem;
    margin-top: -3rem;
}
.user-dashboard header h1{
    font-size: 2rem;
}


.booking-summary .image{
    width: 100%;
}
.booking-summary .image img{
    width: 100%;
}
.booking-summary .content{
    text-align: center;
}
.booking-summary .content h3{
    font-weight: 600;
    margin-bottom: 0.5rem;
}




/* MOBILE VIEW /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* NAV MOBILE */
@media screen and (max-width:1000px){
    nav{
        height: 13vh;
        border-bottom: 1px solid #BF9553;
        z-index: 1000000;
    }
    nav .logo img{
        margin-top: 0.3rem;
        margin-left: -3rem;
        width: 60px;
    }
    nav svg{
        display: block;
        float: right;
        margin: 1.8rem 2rem 0 2rem;
    }
    nav #close{
        display: none;
        font-size: 35px;
        color: #BF9553;
        float: right;
        margin: 1.8rem 2rem 0 2rem;
    }
    nav ul{
        display: none;
        position: absolute;
        left: 0;
        width: 60%;
        height: 100vh;
        background-color: white;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.26);
        padding-top: 0.3rem;
        margin-top: -2rem;
        top: 2rem;
    }
    nav ul .dropdown-menu{
        height: fit-content;
    }
    nav ul .logo2{
        display: block;
        height: 5rem;
    }
    nav ul .logo2 img{
        width: 60px;
    }
    nav ul .border{
        width: 100%;
    }
    nav ul li{
        display: block;
        margin-top: 1rem;
        margin-left: 0rem;
        margin-bottom: 1.5rem;
    }
    nav ul li a{
        font-size: 1.2rem;
        transition: 0.3s;
    }
    nav ul .links li #search{
        display: none;
    }
    nav .links{
        margin-top: 2rem;
    }
    nav .book{
        padding: 5% 15% ;
        font-size: 1.2rem;
    }
    nav ul li #dropdownMenuLink{
        font-size: 1.2rem;
        margin-left: -0.8rem;
    }


    /* HERO MOBILE */
    .hero{
        height: 87vh;
        background-image: url(./images/hero-mobile.png);
        margin-top: 13vh;
    }
    #blur{
        display: none;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.3);
    }
    /* .hero .text{
        background-color: #66369D;
    } */
    .hero .text h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .hero .text h1{
        width: 90%;
        margin: auto;
        font-size: 3rem;
        margin-bottom: 1rem;
   }
    .hero .text .prov{
        width: 90%;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }
    .hero .text a{
        font-size: 1.1rem;
        padding: 10px 50px;
    }



    /* HOT DEALS MOBILE*/
    header h1{
        font-size: 2.5rem;
    }
    .hot-deals article{
        flex-flow: column wrap;
        width: 85%;
        
    }
    article .box{
        margin: auto;
        margin-bottom: 4rem;
    }
    article .box .image{
        width: 100%;
    }
    

    /* CAROUSEL MOBILE */
    .carousel{
        width: 100%;
        margin: auto;
        margin-top: 2rem;
    }
    .carousel img{
        height: 70vh;
    }

    /* RECOMMENDED MOBILE */
    .recommended{
        width: 100%;
        margin-top: 5.5rem;
        padding-top: 0.1rem;
    }
    .recommended article{
        flex-flow: column wrap;
        width: 100%;
    }
    .recommended .more{
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .recommended article .box{
        width: 85%;
    }
    .recommended article .box #photo{
        width: 100%;
        margin-top: 1rem;
    }


    /* TESTIMONIAL MOBILE */
    .testimonial article{
        margin-top: 2rem;
    }
    .testimonial article .box aside h4{
        margin: 1rem 0 0 0.5rem;
    }
    .testimonial article .box aside .quotes{
        margin-left: 0;
        right: 0;
        position: absolute;
    }




    /* NEWSLETTER MOBILE */
    .newsletter header h3{
        font-weight: 500;
        width: 80%;
        margin: auto;
    }
    .newsletter form input.email{
        padding: 15px;
        width: 60%;
    }
    .newsletter form input.submit{
        padding: 10px;
        width: 30%;
        font-size: 1rem;
    }


    /* FOOTER MOBILE */
    footer{
        height: auto;
    }
    footer .body{
        flex-flow: column wrap;
    }
    footer article{
        width: 100%;
        flex-flow: column wrap;
        margin-top: 2rem;
    }
    footer article .box{
        width: 85%;
    }
    footer article .two{
        margin-top: -3rem;
    }
    footer aside{
        width: 95%;
        flex-flow: column wrap;
        margin-left: 0.8rem;
        margin-top: -6rem;
        margin-bottom: 3rem;
    }
    footer aside .box{
        width: 90%;
        margin: auto;
    }
    footer .credits{
        width: 70%;
        margin: auto;
    }


    /* ABOUT MOBILE */
    .about-us{
        flex-flow: column-reverse wrap;
        margin-top: 5.5rem;
        padding-top: 0.5rem;
    }
    .about-us .left{
        width: 100%;
        margin-left: 0;
    }
    .about-us .left img{
        width: 90%;
        border-radius: 10px;
    }
    .about-us .right{
        width: 100%;
        margin-right: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .about-us .right .text{
        width: 90%;
    }
    .about-us .right .text h1{
        font-size: 2.5rem;
    }
    .about-us .right .text p{
        text-align: left;
    }


    /* MISSION MOBILE */
    .mission{
        height: auto;
        background: rgba(102, 54, 157, 0.1);
        flex-flow: column wrap;
        padding: 2rem 0 2rem 0;
    }
    .mission .left{
        width: 100%;
        margin-bottom: 1rem;
    }
    .mission .right{
        width: 100%;
    }
    .mission .text{
        width: 85%;
        text-align: center;
    }
    .mission .text h1{
        font-size: 2.5rem;
    }
    .mission .text p{
        text-align: left;
    }


    /* OUR TEAM MOBILE */
    .our-team{
        margin-top: 5rem;
        flex-flow: column wrap;
    }
    .our-team .right{
        margin-top: 1.5rem;
    }


    /*  CONTACT MOBILE */
    .contact{
        height: auto;
        padding-top: 5.5rem;
        padding-bottom: 0;
        margin-bottom: 2rem;
        background: #fff;
    }
    .background{
        flex-flow: column wrap;
    }
    .contact .box{
        width: 85%;
    }
    .contact .box p{
        width: 100%;
        font-size: 1.1rem;
    }

    /* PARTNER MOBILE */
    .partner{
        width: 100%;
        margin: auto;
        height: auto;
        margin-bottom: 5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .partner .affiliate{
        padding: 15px 55px;
        margin-top: 2rem;
    }
    .affiliate-form{
        width: 90%;
    }
    .aff-modal{
        margin-top: 2rem;
    }


    /* BOOK NOW MOBILE */
    .book-now{
        background-image: url(./images/book-mobile.png);
        /* margin-top: 5.45rem; */
    }
    .book-now input{
        width: 85%;
    }
    .book-now a{
        padding: 8px 10px;
        margin-left: 0;
        margin-top: 1rem;
    }
    .hotels .box{
        flex-flow: column wrap;
        padding: 3rem 0;
    }
    .hotels .box #hotel{
        margin-left: 0;
        margin-right: 0;
        width: 85%;
        margin: auto;
    }
    .hotels .box .content{
        width: 85%;
        margin-top: 1rem;
    }


    /* LOCATION MOBILE */
    .location .box a{
        margin: 0 0 0 1rem;
        font-size: 1.1rem;
    }
    .location2{
        margin-top: 5rem;
    }

    /* DESCRIPTION DESKTOP */
    .desc{
        margin-top: 6rem;
    }
    .desc .box{
        width: 100%;
    }
    .desc .box .images{
        width: 90%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .desc .box .images #hotel{
        width: 97%;
    }
    .desc .box .sub-images{
        display: flex;
        margin-left: 0;
        width: 100%;
        margin-top: 1rem;
    }
    .desc .box .sub-images img{
        width: 30%;
        margin: auto;
    }
    .desc .box .content{
        width: 90%;
        margin-top: 2rem;
    }


    /* ROOMS MOBILE */
    .rooms .box{
        width: 100%;
        margin-bottom: 4rem;
    }
    .rooms .box #room-pic{
        width: 100%;
    }


    /* CREATE ACCOUNT MOBILE */
    .create-account{
        margin-top: 5.45rem;
    }
    .create-account .box{
        width: 90%;
    }
    .create-account .box form p{
        font-size: 0.9rem;
    }


    /* PAYMENT MOBILE */
    .payment{
        background-color: #fff;
        flex-flow: column-reverse wrap;
    }
    .payment .right{
        width: 100%;
        text-align: center;
    }
    .payment #details{
        width: 100%;
    }
    .payment .summary{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .payment .left{
        margin-top: 1rem;
    }
    .payment form{
        margin-top: 2rem;
        width: 95%;
    }


    /* HOTEL DASHBOARD MOBILE */
    .hotel-nav{
        width: 70%;
    }
    .hotel-name{
        margin-bottom: 2.5rem;
    }
    .hotel-dashboard{
        margin: 5.45rem 0 5rem 0;
        padding-top: 3.2rem;
    }
    .hotel-dashboard article{
        width: 100%;
    }
    .hotel-dashboard article .book{
        padding: 10px 30px;
    }
    .hotel-dashboard table{
        width: 90%;
        margin: auto;
    }
    .hotel-dashboard th{
        padding: 20px 5px;
        font-size: 1rem;
    }
    .hotel-dashboard td{
        padding: 20px 5px;
        font-size: 1rem;
    }
    .modal-lg{
        width: 95%;
        margin-top: 7rem;

    }
    .check-dialog{
        margin-top: 10rem;
    }
    .customers{
        margin-top: 0rem;
    }
    .customers table{
        width: 90%;
    }
    .customers th{
        padding: 20px 0;
    }
    .customers td{
        padding: 20px 0;
    }
    .others .label-file{
        margin: 0.5rem;
    }
    .modal-form section{
        display: flex;
        flex-flow: column wrap;
    }
    .modal-form section .input-fields{
        width: 90%;
        margin: auto;
    }
    .modal-form section .input-fields2{
        width: 90%;
        margin: auto;
    }




    /* ACTIVATE MOBILE */
    .activate .box{
        flex-flow: column wrap;
    }
    .activate .box .images{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .activate .images img{
        width: 90%;
    }
    .activate .box .content{
        width: 100%;
    }
    .activate .box .content ul{
        width: 80%;
        margin: auto;
    }
    .activate .box .content img{
        width: 120px;
        margin-top: 1rem;
     }
    .activate .box .content .book{
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 10px 100px;
     }


    /* CUSTOMER INVOICE MOBILE */
    .customer-invoice{
        margin-top: 9rem;
    }
    .customer-invoice article{
        width: 100%;
        flex-flow: column-reverse wrap;
        justify-content: unset;
    }
    .customer-invoice article .one{
        padding: 20px;
        border-radius: 10px;
        
    }
    .customer-invoice article .one h1{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .customer-invoice article .one a{
        font-weight: 700;
    }
    .customer-invoice article .two{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: right;
        margin-bottom: 1rem;
    }
    .customer-invoice article .two p{
        font-size: 1.3rem;
    }
    .customer-invoice aside{
        width: 100%;
        margin-top: -3rem;
    }
    .customer-invoice aside .amount-status{
        margin-top: 2rem;
        padding: 20px 30px;
    }


    /* HOTEL INVOICE MOBILE */
    .customer-invoice section{
        width: 85%;
        display: flex;
        justify-content: unset;
        padding: 30px 15px;
    }
    .customer-invoice section .details{
        width: 60%;
    }
    .customer-invoice section .details-text{
        margin-bottom: 2rem;
    }
    .customer-invoice section .details a{
        padding: 10px 40px;
    }
    .customer-invoice section .image{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .customer-invoice section .image img{
        width: 100%;
    }
    .customer-invoice .desktop{
        display: none;
    }
    .customer-invoice .mobile{
        display: block;
    }


    /* USER DASHBOARD DESKTOP */
    .user-dashboard{
        flex-flow: column wrap;
    }
    .user-dashboard article{
        width: 90%;
        margin: auto;
    }
    .user-dashboard aside{
        width: 100%;
        margin-right: 0;
        margin-top: 0rem;
    }
    .user-dashboard aside table{
        width: 90%;
        margin: auto;
    }























}